h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

a, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

input, input:focus, button, button:focus {
  outline: none;
}

div, p, form, input, a, span, button, textarea {
	box-sizing: border-box;
}

p {
  margin: 0;
}

a, a:hover, button, button:hover {
  transition: all 0.3s ease;
  outline: none;
}

svg {
  fill: currentColor;
}

label {
  margin: 0;
}

button {
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.slick-slide:active, .slick-slide:hover, .slick-slide:focus {
  outline: 0;
}

.visually-hidden {
  position: absolute !important;
  width: 0px !important;
  height: 0px !important;
  margin: -1px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.stop-scroll {
  overflow: hidden;
}

.btn {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  border-radius: 100px;
  padding: 25px 0;
  width: 100%;
  max-width: 335px;
  transform: background-color 0.3s ease-in-out;

}

.btn-main {
  background-color: $color-main;

  &:hover {
    background-color: #F8CB88;
    color: #FFFFFF;
  }

  &:active {
    background-color: #E0A44B;
    color: #FFFFFF;
  }
}

.btn-secondary {
  background-color: $color-secondary;
}

.main__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: $color-secondary;
}