@media screen and (max-width: 1660px) {
  .container {
    max-width: 1390px;
    // padding: 0 15px;
  }

  .calc__config_left {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .calc__img {
    margin-right: 80px;
  }

  .header__links-list {
    margin-bottom: 22px;
  }


}

@media screen and (max-width: 1440px) {

  // .container {
  //   max-width: 960px;
  // }
  .header__content-info {
    padding: 57px 0px 74px 89px;
  }

  .header__content {
    padding-left: 0;
    padding-top: 20px;
  }

  .header__content-title {
    font-size: 45px;
  }


  .calc__config {
    padding: 60px 80px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1010px;
  }

  .application {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .application__form {
    padding-left: 0;
    margin-bottom: 45px;
  }

  .application__data {
    padding-right: 0;

    &:before {
      display: none;
    }
  }

  .header__links-list-item:not(:last-child) {
    margin-bottom: 25px;
  }


  .calc__img {
    margin-right: 70px;
  }

}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .mobile-header-container {
    display: flex;
    flex-wrap: wrap;
  }


  .open-menu-link {
    position: relative;
    font-weight: 600;

    &:before {
      position: absolute;
      content: "";
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../img/icons/header/mobile-arrow.svg');
      background-repeat: no-repeat;
      background-position: center center;
      width: 20px;
      height: 20px;
    }
  }

  .header__links {
    display: flex;
    flex-wrap: wrap;
    padding: 21px 0 12px 0;
  }

  .header__content-daya {
    align-items: center;
  }

  .header__content-info {

    padding: 70px 0 70px 70px;

    &:after {
      right: -50%;
    }
  }

  .header__content-title {
    margin-left: 0;
    font-size: 38px;

  }

  .header__nav {
    order: 3;
    overflow: hidden;
    margin-top: 20px;
  }

  .header__nav-btn {
    order: 2;
    margin-left: auto;
  }

  .header__main-logo {
    order: 1;
  }

  .header__links-list {
    flex-direction: column;
  }

  .header__links-info:not(:last-child) {
    margin-bottom: 25px;
  }

  .header__nav-list {
    flex-wrap: nowrap;
    overflow: scroll;
  }

  .header__content-btn {
    margin-left: 0;
    margin-bottom: 22px;
    font-size: 30px;
    max-width: 480px;
    // padding: 30px 0;
  }

  .header__nav-item {
    margin-bottom: 26px;
    margin-bottom: 0;

    a {
      white-space: nowrap;
    }
  }

  .header__content {
    justify-content: center;
  }


  .header__links-nav {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    max-width: 320px;
    padding: 50px;
    width: 80%;
    z-index: 1000;
    overflow-y: auto;
    background-color: $color-main;
    box-shadow: 0 0 5px #888;
    visibility: hidden;
    transform: translateY(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 0px 0px 30px 30px;
  }

  .header__links-nav--active {
    visibility: visible;
    transform: none;
  }

  .header-container {
    width: 0;
    height: 0;
    max-width: 0;
    margin: 0;
    padding: 0;
  }


  .calc__img {
    img {
      display: none;
    }
  }

  .calc__config_right {
    flex-direction: column;
  }

  .calc__data {
    padding-top: 0;
  }

  .application__data-img {
    width: 60%;
  }

  .header__content-title {
    text-align: center;
  }

  .container__nav-wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }



  .btn {
    font-size: 18px;
  }

  .header__content-btn {
    max-width: 335px;
    // padding: 25px 0;
  }

  .container__nav-wrapper {
    padding: 29px 0 7px 0;
  }

  .header__main-logo {
    width: 102px;
    height: 39px;
    margin-left: 16px;
    margin-right: 8px;
  }



  .header__nav {
    margin-top: 10px;
  }

  .application__form {
    margin-bottom: 0;
  }

  .header__nav-list {

    padding-left: 16px;
    margin-top: 10px;
  }




  .header__links-list-link {
    font-size: 18px;
  }

  .header__nav-btn {
    font-size: 15px;
    padding: 10px 12px;
    margin-right: 15px;

    img {
      width: 26px;
      height: 22px;
    }
  }

  .header__nav-item {
    margin-right: 17px;

    a {
      font-size: 16px;

    }
  }

  .header__content-img {
    max-width: 222px;
    height: 264px;
    margin: 0 auto;

  }



  .header__content-info {
    padding: 10px 0 10px 0;
    border-radius: 0;

    p {
      font-size: 16px;
    }
  }

  .application__data-img {
    display: flex;
    margin: 0 auto;
    max-width: 288px;
    margin-bottom: 0;
  }




  .main__title {
    font-size: 20px;
    text-align: center;
  }

  .header__content-title {
    font-size: 23px;
    margin-bottom: 0;

  }



  .header__content-daya {
    padding-top: 0;
  }

  .section-calc {
    padding-top: 45px;
  }

  .section-calc .title {
    font-size: 18px;
    text-align: center;
  }

  .calc__config {
    padding: 25px 15px;
    border-radius: 25px;
    margin-bottom: 10px;
  }

  .calc__config_left {
    margin-right: 0;
  }

  .section-title__calc {
    margin-bottom: 13px;
  }

  .calc__range-head-title {
    font-size: 15px;
  }

  .calc__data {
    padding-top: 0;
  }

  .calc__data-price {
    font-size: 15px;
  }

  .section-calc .title__right {
    margin-bottom: 10px;
    text-align: center;
  }

  .calc__data-price sub {
    font-size: 100%;
  }

  .calc__data-descr {
    font-size: 14px;
  }

  .calc__data-item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }



  .calc__additional {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .section-steps {
    display: none;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .steps__btn {
    display: none;
  }

  .section-application {
    padding-top: 5px;
    padding-bottom: 25px;
  }

  .application__form input[type=text],
  .application__form input[type=phone],
  .application__form input[type=email] {
    font-size: 15px;
    padding: 20px 10px 16px 0;
  }

  .application__form input[type=text]::placeholder,
  .application__form input[type=phone]::placeholder,
  .application__form input[type=email]::placeholder {
    font-size: 15px;
  }

  .application__form-title {
    margin-bottom: 7px;
  }

  .application__form .checkbox__descr {
    font-size: 14px;
    display: inline-block;
    text-align: start;
    padding-left: 30px;

    &::before {
      border: 2px solid #BF852E;
      border-radius: 5px;
      width: 18px;
      height: 18px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      background-position: center center;
      top: 3px;
      left: 3px;
      width: 16px;
      height: 16px;
      background-size: contain;
    }

  }

  .application__form {
    .field {
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }

  .application__form-checkbox {
    margin-bottom: 25px;
  }

  .application__data-list {
    display: none;
  }

  .form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 17px;

  }
}

@media screen and (max-width: 576px) {

  .container {
    max-width: 100%;
  }

  .container__nav-wrapper {
    padding: 10px 0 7px 0;
  }

  .header__content-title {
    text-align: start;
  }

  .section-calc .title {
    text-align: start;
  }

  .section-calc .title__left {
    margin-bottom: 17px;
  }

  .application__data-img {
    width: 100%;
  }

  .application__form .checkbox__descr {

    &::before {
      top: 0;
      transform: translateY(0);
    }

  }

  .calc .validate__item {
    font-size: 15px;
    max-width: 44px;

    &~span {
      font-size: 15px;
    }
  }

  .calc .range__input {
    display: flex;
    align-items: flex-end;
  }

  .calc .range__input:not(:last-child) {
    margin-bottom: 15px;
  }


  .calc .range:not(:last-child) {
    margin-bottom: 22px;
  }




}

.desktop-hidden {
  @media screen and (min-width: 993px) {
    display: none;
  }

  @media screen and (max-width: 992px) {
    display: flex;
  }
}

.mobile-hidden {
  @media screen and (min-width: 993px) {
    display: flex;
  }

  @media screen and (max-width: 992px) {
    display: none;
  }
}